<div class="container-small-card">
  <div class="small-card-content">
    <div class="small-card-photo">
      <img
        src="https://static.wixstatic.com/media/96f530_802ebbe4f5f54afa8ea8bd490cfbd567~mv2.jpg/v1/fill/w_555,h_300,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/96f530_802ebbe4f5f54afa8ea8bd490cfbd567~mv2.jpg"
        alt=""
      />
    </div>
    <div class="small-card-title">
      <h1><a href="#">Programando em Python</a></h1>
    </div>
  </div>
  <hr class="small-card-separator">
</div>
