<app-menu-title />
<div class="container-articles">
  <div class="articles-main">
    <app-big-card
      id="1"
      cardPhoto="https://static.wixstatic.com/media/96f530_802ebbe4f5f54afa8ea8bd490cfbd567~mv2.jpg/v1/fill/w_555,h_300,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/96f530_802ebbe4f5f54afa8ea8bd490cfbd567~mv2.jpg"
      cardTitle="Programando em Python"
      cardDescription="O Python é considerada a linguagem de programação mais simples. Para quem está começando a explorar esse universo, então, pode apostar nessa linguagem bastante comum no mundo do trabalho."
    />
  </div>
  <div class="articles-others">
    <app-small-card
      id="2"
      cardPhoto="https://static.wixstatic.com/media/96f530_1dca4ab4b08c4f6f88dd2d1f633dbf5c~mv2.jpg/v1/fill/w_555,h_300,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/96f530_1dca4ab4b08c4f6f88dd2d1f633dbf5c~mv2.jpg"
      cardTitle="Gerenciamento de projetos em Programação"
    />
    <app-small-card
      id="3"
      cardPhoto="https://static.wixstatic.com/media/96f530_4f8e9ca779924b0b814924e1243d7bd8~mv2.png/v1/fill/w_555,h_300,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/96f530_4f8e9ca779924b0b814924e1243d7bd8~mv2.png"
      cardTitle="Live sobre Javascript"
    />
    <app-small-card
      id="4"
      cardPhoto="https://static.wixstatic.com/media/96f530_2fd5c63871e6466e8e88a5f487e4e93f~mv2.jpg/v1/fill/w_555,h_300,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/96f530_2fd5c63871e6466e8e88a5f487e4e93f~mv2.jpg"
      cardTitle="O que é SQL?"
    />
  </div>
</div>
